<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<input type="button" id="btn2" value="在末尾增加">
<input type="button" id="sub" value="提交" onclick="submit()" >
<div class="table-responsive">
    <input type="hidden" class="input-text"  th:value="${account}"
           name="realName" id="account">
    <h1 align="center">进货</h1>
    <table class="table table-striped" id="test">
        <thead>
        <tr>
            <th>名字</th>
            <th>单价</th>
            <th>数量</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="name"></td>
            <td><input type="number" name="price"></td>
            <td><input type="number" name="amount"></td>
        </tr>
        </tbody>
    </table>
    <script>
        $(function(){
            $("#btn2").click(function() {
                console.log("asd")
                $("#test tbody").append('<tr><td><input type="text" name="name"></td><td><input type="number" name="price"></td><td><input type="number" name="amount"></td></tr>');
            });
        });

        function  submit() {
            c = confirm("是否确认进货？")
            if(c==true){
                var trList = $("#test tbody").children("tr")
                var  list = []
                for (var i=0;i<trList.length;i++) {
                    var tdArr = trList.eq(i).find("td");
                    var name = tdArr.eq(0).find('input').val();//收入类别
                    var price = tdArr.eq(1).find('input').val();//收入金额
                    var amount = tdArr.eq(2).find('input').val();//
                    // alert(name+' '+amount+' '+price);
                    list[i] = {"name":name,"price":price,"amount":amount}
                }
                account = $("#account").val()
                //post请求
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", "/add?account="+account, true);
                xmlhttp.setRequestHeader("Content-Type","application/json;charsetset=UTF-8"); // 可以定义请求头带给后端
                xmlhttp.send(JSON.stringify(list));  // 要发送的参数，要转化为json字符串发送给后端，后端就会接受到json对象
                // readyState == 4 为请求完成，status == 200为请求陈宫返回的状态
                xmlhttp.onreadystatechange = function(){
                    if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                        window.location.href="/oldall"
                        console.log(xmlhttp.responseText);
                    }
                    if (xmlhttp.status<500 && xmlhttp.status>=400){
                        console.log("400-499")
                        if (xmlhttp.status==404){
                            console.log("404")
                        }
                    }
                    if (xmlhttp.status==500){
                        console.log("500")
                    }
                }
            }

        }
    </script>
</div>
</body>
</html>