<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2 class="sub-header">仓库</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>商品名</th>
            <th>单价</th>
            <th>数量</th>
        </tr>
        </thead>
        <input type="hidden" th:value="${account}">
        <tbody th:each="good,i : ${list}">
        <tr>
            <td th:text="${good.getName()}"></td>
            <td th:text="${good.getPrice()}"></td>
            <td th:text="${good.getAmount()}"></td>
            <td><button type="button" class="btn btn-info"  th:onclick="updata(0,[[${good.getId()}]],[[${good.getAmount()}]]);" >出货</button></td>
            <td><button type="button" class="btn btn-warning" th:onclick="updata(1,[[${good.getId()}]],[[${good.getAmount()}]]);">补货</button></td>
            <input type="hidden" th:value="${good.getId()}" >
        </tr>
        </tbody>
    </table>
    <script>
    function updata(type,id,a) {
        var flag = true;
        str  = type ==0 ? "出货数量" : "补货数量"
        amount = prompt(str,"")
        alert(type+":"+id+":"+amount)
        if (amount!=null){
            amount = parseInt(amount)
            if (type==0 &&(a-amount)<0){
                flag =false
                alert("超出目前库存无法出货")
            }
            alert(amount)
            if (flag){
                var xmlhttp = new XMLHttpRequest();
                // get方法带参数是将参数写在url里面传过去给后端
                xmlhttp.open("GET", "/update?id="+id+"&amount="+amount+"&type="+type, true);
                xmlhttp.send();
                xmlhttp.onreadystatechange = function(){
                    if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                        console.log(xmlhttp.responseText);
                        var _body = window.parent;
                        var _iframe1=_body.document.getElementById('myiframe');
                        _iframe1.contentWindow.location.reload(true);
                    }
                }
            }
        }
    }
    </script>
</div>

</body>
</html>